html{
    min-height: 100%;
    min-width: 630px;
}
#navbar{
    min-width: 630px;
}
#bt{
    background-color: transparent;
    border-color: white;
}
#ham{
    color: white;
}
#icon{
    width:40px;
    border-radius:10px;
    float: left;
}
#name{
    font-family: 'Megrim', cursive;
    color:green;
    font-size: 30px;
}
#right{
    position: absolute;
    top: 0;
    right: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>.a{
    color: green;
    background-color: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>.a:hover{
    color: green;
    background-color: #B8FFAB;
}
.nav-pills>li>.a{
    color: white;
}
.nav-pills>li>.a:hover{
    color: green;
    background-color: rgba(206, 255, 197, 0.8);
}
#content{
    margin-top:50px;
}

#movies-homepage{
    text-align:center;
}

#drop{
    float:left;
}

.img-responsive{
    width:100%;
}
img{
    width:250px;
}
#myCarousel{
    width: 50%;
    margin:0 auto;
    overflow:hidden;
    
}

#movie-posters{
    text-align:center;
}

#side{
    min-height: 100%;
}
#favorite{
    width:100%;
    text-align: center;
}



@media all and (max-width: 767px){
    #content{
        margin-top:90px;
    }
}
